<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="<?=$domain?>assets/template/adminlte/plugins/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="<?=$domain?>assets/template/adminlte/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="<?=$domain?>assets/template/adminlte/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="<?=$domain?>assets/template/adminlte/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="<?=$domain?>assets/template/adminlte/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="<?=$domain?>assets/template/adminlte/plugins/fastclick/lib/fastclick.js"></script>
<!-- Select2 -->
<script src="<?=$domain?>assets/template/adminlte/plugins/select2/dist/js/select2.full.min.js"></script>
<!-- jQuery Smart Wizard -->
<script src="<?= $domain ?>assets/template/adminlte/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- bootstrap-datepicker -->
<script src="<?= $domain ?>assets/js/bootstrap-datepicker.min.js"></script>
<!-- Sweet Alert 2 -->
<!-- <script src="<?= $domain ?>assets/template/adminlte/plugins/sweet-alert2/dist/sweetalert2.all.min.js"></script> -->
<!-- Sweet Alert -->
<script src="<?= $domain ?>assets/template/adminlte/plugins/sweet-alert/sweetalert.min.js"></script>
<!-- jQuery UI -->
<script src="<?= $domain ?>assets/template/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- File Uploader -->
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<!-- <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->
<!-- AdminLTE App -->
<script src="<?=$domain?>assets/template/adminlte/dist/js/adminlte.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<script>
    jQuery(document).ready(function () {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            // $('.child_menu').css('display','block');
        }
    });
    // $body = $("body");

    // $(document).on({
    //     ajaxStart: function () { $body.addClass("loading"); },
    //     ajaxStop: function () { $body.removeClass("loading"); }
    // });
</script>     
</body>

</html>

