{include file='layout/_header.html'}
{include file='layout/_topbar.html'}

   <!-- BEGIN CONTAINER -->
   <div class="page-container">
      <!-- BEGIN SIDEBAR -->
      {include file='layout/_sidebar.html'}
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->
      <div class="page-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            {include file="$pageTemplate.html"}
         </div>
         <!-- END PAGE CONTAINER-->    
      </div>
      <!-- END PAGE -->
   </div>
   <!-- END CONTAINER -->

{include file='layout/_scripts.html'}
{include file='layout/_footer.html'}
