<!-- footer content -->
<footer>
   <div class="pull-right">
      Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
   </div>
   <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="<?=$domain?>assets/template/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="<?=$domain?>assets/template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="<?=$domain?>assets/template/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="<?=$domain?>assets/template/vendors/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="<?=$domain?>assets/template/vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="<?=$domain?>assets/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="<?=$domain?>assets/template/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/jszip/dist/jszip.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="<?=$domain?>assets/template/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Swal -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- bootstrap-datetimepicker -->
<!-- <script
   src="<?= $domain ?>assets/template/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script> -->
<!-- bootstrap-datepicker -->
<script src="<?= $domain ?>assets/js/bootstrap-datepicker.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="<?=$domain?>assets/template/build/js/custom.min.js"></script>
<!-- jQuery Smart Wizard -->
<script src="<?= $domain ?>assets/template/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- select 2 -->
<script src="<?= $domain ?>assets/plugins/select2/dist/js/select2.full.min.js"></script>

<script>
//   document.onreadystatechange = function () {
//       var state = document.readyState
//       if (state == 'interactive') {
//          document.getElementById('contents').style.visibility = "hidden";
//       } else if (state == 'complete') {
//          setTimeout(function () {
//             document.getElementById('interactive');
//             document.getElementById('load').style.visibility = "hidden";
//             document.getElementById('contents').style.visibility = "visible";
//          }, 1000);
//          document.getElementById('main').style.minHeight = '720px';
//       }
//    }

   jQuery(document).ready(function () {
      
     if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
         // $('.child_menu').css('display','block');
      }
      
   });

   document.onreadystatechange = function () {
      // $("#load1").hide();
      // var state = document.readyState
      // if (state == 'interactive') {
      //    document.getElementById('contents').style.visibility = "hidden";
      // } else if (state == 'complete') {
      //    setTimeout(function () {
      //       document.getElementById('interactive');
      //       document.getElementById('load').style.visibility = "hidden";
      //       document.getElementById('contents').style.visibility = "visible";
      //    }, 1000);
      //    document.getElementById('main').style.minHeight = '720px';
      // }
   }
</script>


</body>

</html>