   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->
   <!--script src="<?=$domain?>assets/plugins/jquery-1.8.3.min.js" type="text/javascript"></script-->   
   <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->  
   <!--script src="<?=$domain?>assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script-->      
   <script src="<?=$domain?>assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="<?=$domain?>assets/plugins/timeout-dialog/js/timeout-dialog.js"></script>
   <!--[if lt IE 9]>
   <script src="assets/plugins/excanvas.js"></script>
   <script src="assets/plugins/respond.js"></script>  
   <![endif]-->   
   <!--script src="<?=$domain?>assets/plugins/breakpoints/breakpoints.js" type="text/javascript"></script-->  
   <!-- IMPORTANT! jquery.slimscroll.min.js depends on jquery-ui-1.10.1.custom.min.js --> 
   <!--script src="<?=$domain?>assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script-->
   <!--script src="<?=$domain?>assets/plugins/jquery.blockui.js" type="text/javascript"></script-->  
   <!--script src="<?=$domain?>assets/plugins/jquery.cookie.js" type="text/javascript"></script-->
   <!--script src="<?=$domain?>assets/plugins/uniform-mati/jquery.uniform.min.js" type="text/javascript" ></script--> 
   <!--script src="<?=$domain?>assets/plugins/minicolor/jquery.minicolors.js" type="text/javascript"></script-->
   <script src="<?=$domain?>assets/plugins/bootstrap-tree/bootstrap-tree/js/bootstrap-tree.js" type="text/javascript"></script>
   
	<!--script src="<?=$domain?>assets/scripts/charts.js" type="text/javascript"></script--> 
   <!-- END CORE PLUGINS -->
   <script src="<?=$domain?>assets/scripts/app.js"></script> 
   <!--script src="<?=$domain?>assets/scripts/ui-tree.js"></script-->    
   <!-- MAP PLUGINS -->
 
    <!-- END MAP PLUGINS -->
   <!-- END CORE PLUGINS -->
    <script>
      jQuery(document).ready(function() {   
		 
		 $.timeoutDialog({
						timeout: 7000, 
						countdown: 10, 
						logout_url: domain + 'login',
						logout_redirect_url: domain + 'login',		
						restart_on_yes: false
						});
		
      });
   </script>